body {
  margin-left: 25px;
  margin-right: 25px;
  font-family: arial;
  font-size: small;
  background-color: blanchedalmond;
}

h1 {
  font-size: 30px;
  color: darkgreen;
  background-image: url(./chickencashew.jpg);
  width: auto;
  border: 10px solid green;
  padding: 100px;
  margin: 0px;
}

ul,
p {
  color: darkgreen;
}
h3 {
  color: deeppink;
}
