body {
  margin-left: 10px;
}

h1 {
  color: deeppink;
  font-family: verdana;
  font-stretch: expanded;
  font-size: xx-large;
  width: auto;
  border: 10px solid green;
  padding: 50px;
  margin: 5px;
  background-image: url(herbs.jpg);
  text-align: center;
}

body {
  background-color: bisque;
}
p {
  color: darkgreen;
  text-align: center;
}

h2 {
  color: deeppink;
  text-align: center;
}

img {
  width: 320px;
  height: auto;
}
